<!-- <div class="container mt-5">
    <div class="row">
        
        <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
           
            <label>
                First Name:<br>

                <input type="text" formControlName="firstName">
            </label><br>
            <label>
                Last Name:<br>

                <input type="text" formControlName="lastName">
            </label><br>
            <label>
                Age:<br>

                <input type="text" formControlName="age">
            </label><br>
            <label>
                Email:<br>

                <input type="text" formControlName="email">
            </label><br>
        
            <div formGroupName="addressGroup">
               <h4>Address</h4>
                <label>
                    Address1:<br>
                    <input type="text" formControlName="address1">
                </label><br><label>
                    Address2:<br>
                    <input type="text" formControlName="address2">
                </label><br><label>
                    State:<br>
                    <input type="text" formControlName="state">
                </label><br>
               <label>
                   Zip:<br>
                   <input type="text" formControlName="zip">
               </label>
            
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!userProfileForm.valid">Submit</button>
        </form>
    </div>
 </div> -->
<div class="container">
 <div class="card m-3">
    <h5 class="card-header">Regestration Form</h5>
    <div class="card-body">
    <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="col-sm-1">
            <label>Regestring</label>
                    <select formControlName="regestringBy" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.regestringBy.errors }">
                        <option value=""></option>
                        <option value="Landloard">Landloard</option>
                        <option value="Agent">Agent</option>
                    </select>
                    <div *ngIf="submitted && f.regestringBy.errors" class="invalid-feedback">
                        <div *ngIf="f.regestringBy.errors.required">Please Select..</div>
                    </div>
                    <div class="col-sm-1">
                    </div>
            <label>Title</label>
                    <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                        <option value=""></option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                    </select>
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>
            <div class="col-sm-5">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName">
            <label>Age</label>
            <input type="text" class="form-control" formControlName="age">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="col-sm-5">
            <div formGroupName="addressGroup" >
                 <label>Address1:</label>
                 <input type="text" class="form-control" formControlName="address1">
                 <label>Address2:</label>
                 <input type="text" class="form-control" formControlName="address2">
                 <label>State:</label>
                 <input type="text" class="form-control" formControlName="state">
                <label>Zip:</label>
                <input type="text" class="form-control" formControlName="zip">
             </div>
            </div>
            
        </div>
        <button type="submit" class="btn btn-primary mt-5 " [disabled]="!userProfileForm.valid">Submit</button>
    </form>
 </div>
</div>
</div>
